.header-background-color {
    height: 350px;
    background-color: black;
 }
 
 .header-text {
   color: #ffffff; 
   font-family: 'Arial', sans-serif;
   font-size: 2.6em; 
   font-weight: 300; 
   line-height: 2em; 
   margin: 0 0 0px; 
   text-align: center; 
 }

 .sub-header-text{
   font-family: 'Arial', sans-serif;
   color: #dadada; 
   font-size: 1.5em; 
/*     font-weight: 50;  */
   line-height: 0.5em;  
   text-align: center;
 }

 .header-container {
    width: 100%;
    position: absolute;
    top: 0;
    -webkit-user-select: none; /* Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
 }

.header-bar, .menu-background {
   background-color: #ff7e00;
}

.header-bar{
   height: 134px;
}

.body-background {
   background-color:rgb(255, 240, 213);
   min-height: 100%;
   padding-bottom: 5%;
}
#main-menu, #main-body {
   background-color:white;
   font-family: Arial, Lato,'Helvetica Neue',Helvetica,sans-serif;
   max-width: 730px !important;
}
#main-body {
   line-height: 1.5;
   font-size: 1.14285714rem;
}

#main-menu{
   margin-bottom: 0px;
   background-color: white;
   margin: auto;
}

.menu-background{
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 1;
}

#survey-entry{
   border: none;
   background-color:white;
   box-shadow: none;
}

#file-icon{
   font-size: 6.285714rem;
}

#file-icon-title{
   font-size: 1.5em;
}

.find-survey{
   font-size: 1.1em !important;
}

#search-icon{
   font-size :1.7em;
}

#search-icon-title{
   white-space: nowrap;
   font-size: 1.15em;
}

.survey-tab{
   padding-left: 1%;
   padding-right: 1%;
   padding-bottom: 10px;
   padding-top: 10px;
   box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
   -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
   -moz-box-shadow:    0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}



#github-icon {
   padding: 0.5em;
   font-size: 2em;
   color: black;
   width: 100%;
   text-align: right;
   position: absolute;
   z-index: 1;
   top: 0;
}

.radio-group-options {
   display: inline-block !important; 
   padding-left: .5em !important; 
   padding-right: .5em !important;
}

a{
   text-decoration: underline;
}